$color_link_header : #081D43;
$primary_color: #0050C8;
$text-color: #6C7890;
$secendry_color: #87BC25;
$title_color: #FFFFFF;
$text_light_color: #7E8085;
$text_comment_color: #000000;
$border_color: #E8EBEF;
$portfolio_color: #6C7890;
$portfolio_title_color: #081D43;